<div class="background">
    <div class="d-flex align-items-start">
        <div class="d-flex flex-column">
            @for (player of players; track $index) {
                <three-men-player [player]="player" [activeTurn]="activePlayer === player.id" (delete)="deletePlayer(player)"></three-men-player>
            }
            <input type="text" class="m-2 form-control" placeholder="Player name" [(ngModel)]="newPlayerName">
            @if (currentGamePhase === GamePhase.BEFORE_GAME) {
                <button type="button" class="m-2 btn btn-primary" (click)="addPlayer()">Add Player</button>
            }
        </div>
        <div id="dice-box">
            <div class="d-flex justify-content-center">
                @if (currentGamePhase === GamePhase.BEFORE_GAME) {
                    <button type="button" [disabled]="players.length < 1" class="mt-3 btn btn-success" (click)="startGame()">Start Game</button>
                } @else {
                    <button type="button" [disabled]="isDiceRollingDisabled" class="mt-3 btn btn-success" (click)="roll()">Roll</button>
                }
            </div>
        </div>
    </div>
</div>