.background {
    background-image: url(/wood-texture.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

.players {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#dice-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

  