<div class="m-2 card">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <h5 class="card-title">{{ player?.name }}</h5>
        <button type="button" class="btn btn-outline-danger" (click)="delete.emit()">X</button>
      </div>
      @if (player?.isThreeMen) {
        <h6 class="card-subtitle mb-2 text-info">3-Men</h6>
      } @else {
        <h6 class="card-subtitle mb-2 text-body-secondary">Not a 3-Men</h6>
      }
      @if (activeTurn === false && turnFinished === false) {
        <p class="card-text">{{ player?.name + ' is waiting for their Turn.' }}</p>
      } @else if (activeTurn === true) {
        <p class="card-text text-success">{{ player?.name + ' is currently taking their Turn.' }}</p>
      } @else if (turnFinished === true) {
        <p class="card-text text-body-tertiary">{{ player?.name + ' has already taken their turn' }}</p>
      }
    </div>
  </div>